/vendor/
/node_modules/
/composer.lock
/.phpunit.result.cache
/.php_cs.cache
/.php-cs-fixer.cache
/.idea/
/.vscode/
/coverage/
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
.env.local
.env.development
.cursorrules
Homestead.yaml
Homestead.json
/.vagrant
.env.backup
.env.production
.phpactor.json
auth.json
.cursorrules
